.performanceMetricsContainer {
  width: 100%;
  max-width: 1920px;
  max-height: 420px;
  min-height: 300px;

  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  padding: 0px 100px;
}

.performanceMetricsContainer h2 {
  font-size: 50px;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  color: #1c1c1c;
  padding-right: 20px;
}

.metricsItemsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.metricsItemsWrapper div {
  max-width: 380px;
  min-width: 260px;
  max-height: 245px;
  min-height: 170px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  color: #ffffff;
  font-family: "Plus Jakarta Sans";
  background-color: #1c1c1c;

  border-radius: 15px;
}

.metricsItemsWrapper span {
  font-size: 40px;
  font-weight: 600;
}

.metricsItemsWrapper p {
  font-size: 16px;
  font-weight: 400;
}
